<span style='color: #000' title='Frames'>     3</span><span style='color: #009' title='Memory'>   2048.00 KB</span><span style='color: #900' title='Time'>     58.57 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />